.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

.basketItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem 0rem;
}

.cashbackDisclaimer {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    max-width: 30rem;
    margin: auto;
    margin-top: 1rem;
}

.container {
    padding: 0.5rem;
}

.emptyDisclaimer {
    text-align: center;
}

@media (max-width: 800px) {
    .basketItem {
        gap: 0.5rem;
    }
}