.container {
  display: flex;
  padding: 1rem;
}

.button {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: var(--contrast);
}

.disabled {
  background-color: var(--backgroundLighter);
  cursor: not-allowed;
}

.value {
    margin: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5rem;
    width: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
}