.banner {
  width: 100%;
  text-align: center;
  color: var(--backgroundLight);
  padding-bottom: 1.5rem;
}

.content {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 75%;
  max-width: 530px;
}

.logo {
  font-size: 3.8rem;
}

.subtitle {
  margin-bottom: 1rem
}

.main {
  background-color: var(--backgroundLight);
  color: var(--backgroundDark);
  padding: 0.5rem;
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  background-color: var(--backgroundDark);
  box-shadow: 0px -8px 10px 0px var(--backgroundLight);
}

@media (min-width: 600px) {
  .logo {
    font-size: 4rem;
  }
}

@media (min-width: 800px) {
  .logo {
    font-size: 5rem;
  }
}
