.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0000008a;
    top: 0;
    left: 0;
    z-index: 20;
}

.closeButton {
    font-weight: bold;
    position: absolute;
    right: 1rem;
    top: 1rem;
}