:root {
  --accent: #b63207;
  --accentDark: #862405;
  --contrast: #f7c66f;
  --contrastDark: #ddb062;
  --disabled: #a5a5a5;
  --backgroundLight: white;
  --backgroundDark: black;

  --defaultBoxShadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font:93.8% / 1.5 "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  background: var(--backgroundDark);
  color: var(--backgroundLight);
  font-size: 1rem;
}

/* input start */
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: var(--contrast);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--contrast);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--accent);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}

/* scrollbar start */
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--accent); 
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--contrast); 
}
/* scrollbar end */

@media screen and (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }
}
