.container {
    padding: 2rem 0.5rem;
    max-width: 100rem;
    margin: auto;
}

.content {
    margin: 0.5rem 0rem;
    text-align: justify;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    width: 100%;
}
  
.image {
    width: 90%;
    border-radius: 21rem;
    max-width: 21rem;
    margin: 1rem 0;
}

@media (min-width: 600px) {
    .container {
        padding: 2rem;
    }
}

@media (min-width: 800px) {
    .innerContainer {
        gap: 3rem;
        padding: 2rem;
        flex-direction: row;
    }
    .imageRight {
        order: 1;
    }
}
  