.form {
  width: 85vw;
  max-width: 30rem;
  margin-bottom: 1rem;
}

.wareHouseWarning {
  text-align: center;
  padding: 1rem;
  box-shadow: var(--defaultBoxShadow);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.onSiteDisclaimer {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}


