.button{
    display:inline-block;
    background: var(--accent);
    padding:0.75em 0em;
    display:block;
    cursor:pointer;
    text-align:center;
    border-radius: 0.5rem;
    width: 10rem;
    margin: auto;
    font-size: 1rem;
    color: var(--backgroundLight);
}
.button:hover{
    background: var(--accentDark);
}
.backgroundContrast{
    background: var(--contrast);
}
.backgroundContrast:hover{
    background: var(--contrastDark);
}

  